<div class="md-content" layout="row" layout-align="center center">
  <div layout="row" flex=70 layout-wrap>
    <md-card flex=100 class="pad-bottom">
      <md-card-title>Carlos Barranco</md-card-title>
      <md-card-subtitle>caba9313@gmail.com</md-card-subtitle>
    </md-card>

    <div flex=40 class="projects-card">
      <md-card>
        <md-card-title>Projects</md-card-title>
        <md-card-subtitle>87 projects</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <md-list class="project">
            <template let-item let-last="last" ngFor [ngForOf]="projects">
              <md-list-item>
                <img *ngIf="item.image" md-list-avatar src="{{item.image}}" alt />
                <div *ngIf="!item.image" class="projectLetter" md-list-avatar alt>{{item.name[0]}}</div>
                <h3 md-line> {{item.name}} </h3>
                <p md-line> {{item.description}} </p>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </template>
          </md-list>
        </md-card-content>
      </md-card>
    </div>

    <div flex=60 class="markers-card">
      <md-card>
        <md-card-title>Marcadores</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <md-list class="project">
            <template let-item let-last="last" ngFor [ngForOf]="projects">
            <md-list-item>
              <img *ngIf="item.image" md-list-avatar src="{{item.image}}" alt />
              <div *ngIf="!item.image" class="projectLetter" md-list-avatar alt>{{item.name[0]}}</div>
              <h3 md-line> {{item.name}} </h3>
              <p md-line> {{item.description}} </p>
            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
          </md-list>
        </md-card-content>
      </md-card>
    </div>

  </div>
</div>