:host {
  .loading {
    min-height: 500px;
  }
  .projects {
    // Styles for projects when the view is list
    &.list {}
    // Styles for projects when the view is box
    &.box {
      .project md-card{
        min-height: 220px;
        md-card-actions button {
          min-width: auto;
        }
      }
    }
    // Styles for projects in general
    .project {
      transition: max-width 250ms ease;
      md-card {
        cursor: pointer;
      }
    }
  }
}