<md-toolbar>
  <button md-icon-button (click)="back()"><md-icon>arrow_back</md-icon></button>
  <span>{{project.name}}</span>
  <span flex></span>
  <button md-icon-button color="primary"><md-icon>file_download</md-icon></button>
  <button md-icon-button color="accent"><md-icon>play_arrow</md-icon></button>
  <button md-icon-button color="warning"><md-icon>stop</md-icon></button>
  <button md-icon-button><md-icon>open_in_browser</md-icon></button>
  <button md-icon-button [mdMenuTriggerFor]="menuProjects"><md-icon>more_vert</md-icon></button>
  <md-menu #menuProjects="mdMenu">
    <button md-menu-item>
      <md-icon>edit</md-icon>
      <span>Edit project</span>
    </button>
    <button md-menu-item (click)="deleteProject()">
      <md-icon>delete</md-icon>
      <span>Delete project</span>
    </button>
  </md-menu>
</md-toolbar>
<div class="md-content" layout="row" layout-align="center center">
  <div layout="row" flex=70 flex-md=100 layout-wrap>
    <div flex=40>

      <!--Todos card-->
      <md-card class="todos-card" layout="column">
        <md-card-title>Todos</md-card-title>
        <md-card-subtitle>{{project.todos?.length || 0}} todos pending...</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content *ngIf="!project.todos" layout="row" layout-align="center center" flex=100>
          <h2>GO TO PLAY</h2>
        </md-card-content>
        <md-list *ngIf="project.todos">
          <template ngFor let-todo [ngForOf]="project.todos">
            <md-list-item>
              <div layout="row" layout-align="start center" style="width: 100%;">
                <div flex layout="row" layout-align="start center">
                  <md-checkbox [checked]="todo.finished">
                    {{ todo.name }}
                  </md-checkbox>
                  <span flex></span>
                  <span flex=20>{{todo.deadline | date:'MMM d'}}</span>
                </div>
                <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
                <md-menu x-position="before" #menu="mdMenu">
                  <button md-menu-item> Go to </button>
                  <button md-menu-item> Send </button>
                  <button md-menu-item> Delete </button>
                </md-menu>
              </div>
            </md-list-item>
            <md-divider></md-divider>
          </template>
        </md-list>
      </md-card>

      <md-card class="issues-card">
        <md-card-title>Issues</md-card-title>
        <md-card-subtitle>Issues provide by different sources.</md-card-subtitle>
        <md-divider></md-divider>
        <md-list>
          <template let-item let-last="last" ngFor [ngForOf]="project.issues">
            <md-list-item>
              <md-icon md-list-avatar svgIcon="assets:toolbot"></md-icon>
              <h3 md-line> {{item.project}} </h3>
              <h4 md-line> {{item.title}} </h4>
              <p md-line> {{item.description}} </p>
            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </template>
        </md-list>
      </md-card>
    </div>
  </div>
</div>