<div layout="row" layout-wrap>
  <div flex=100 *ngFor="let project of projects | filterProjects: keywords">
    <md-card>
      <md-card-title layout layout-align="center center">
        <span>{{project.name}}</span>
        <span flex></span>
        <button md-icon-button>
          <md-icon>{{project.star ? 'star' : 'star_border'}}</md-icon>
        </button>
      </md-card-title>
      <md-card-subtitle>{{project.description}}</md-card-subtitle>
      <md-card-content layout="column">
        Issues:
        Todos:
      </md-card-content>
    </md-card>
  </div>
</div>